<div class="py-8 w-full min-h-full flex gap-8">
  <%= render partial: "settings/nav" %>

  <div class="flex-1 rounded-lg border bg-card text-card-foreground shadow-sm p-8 space-y-4" data-v0-t="card">
    <h2 class="text-2xl font-bold">Manage Your Tokens</h2>

    <%= link_to "Create token", new_settings_token_path, class: "inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-secondary text-secondary-foreground hover:bg-secondary/80 h-10 px-4 py-2" %>

    <%= render @tokens %>
  </div>
</div>