<div class="py-8 w-full h-full flex gap-8">
  <%= render partial: "settings/nav" %>

  <div class="flex-1 rounded-lg border bg-card text-card-foreground shadow-sm p-8 space-y-4" data-v0-t="card">
    <h2 class="text-2xl font-bold">Manage Your Tokens</h2>
    <p class="text-lg font-semibold">Create</p>

    <%= render partial: "form", locals: { token: @token } %>
  </div>
</div>